html {
  zoom: 0.8; /* Scales the entire page to 80% */
}

@media (max-width: 700px) {
  html {
    zoom: 1; /* Reset zoom for mobile */
  }
}

/* Your existing CSS */
html, body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.petit-formal-script-regular {
  font-family: "Petit Formal Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.outfit-regular {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.header {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 2.5%;
  background-color: rgba(12, 39, 88, 0.76);
  width: 100%;
}

nav img {
  width: 260px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  margin: 0 30px;
}

.nav-links ul li a {
  display: inline-block;
  position: relative;
  padding: 8px 0;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  font-size: 21px;
  font-family: "Outfit", sans-serif;
}

.nav-links ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #00b7ff;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.nav-links ul li a:hover::after {
  transform: scaleX(1);
}

.text-box {
  width: 90%;
  color: #030738;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 80px;
  font-family: "Petit Formal Script", cursive;
}

.text-box p {
  margin: 30px 0px 40px;
  font-size: 40px;
  font-family: "Outfit", sans-serif;
  color: #030738;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #030738;
  border: 1px solid #030738;
  padding: 15px 40px;
  font-size: 25px;
  background: transparent;
  position: relative;
  cursor: pointer;
  font-family: "Outfit", sans-serif;
}

.hero-btn:hover {
  border: 1px solid #00b7ff;
  background: #00b7ff;
  transition: 0.75s;
}

nav i[class*="fa-"] {
  display: none;
}

@media (max-width: 700px) {
  nav i[class*="fa-"] {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .hero-btn {
    padding: 10px 30px;
    font-size: 20px;
  }
  .text-box h1 {
    font-size: 40px;
    font-family: "Petit Formal Script", cursive;
  }
  .text-box p {
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: fixed;
    background: rgb(12, 39, 88);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  .nav-links ul {
    padding: 14px;
  }
  .nav-links ul li a {
    font-size: 20px;
  }
}

.about {
  position: relative;
  font-family: "Outfit", sans-serif;
  width: 100%;
  margin: 0;
  padding-top: 170px;
  padding-bottom: 200px;
  background: url("images/rob-wingate-Fd9tUmRBJzk-unsplash.jpg") center center / cover no-repeat;
  color: #fff;
}

.about-inner {
  width: 80%;
  margin: 0 auto;
}

.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(5, 22, 54, 0.8), rgba(2, 7, 24, 0.8));
  z-index: 0;
}

.about h1 {
  text-align: center;
  font-size: 55px;
  margin-top: -40px;
  margin-bottom: 80px;
  position: relative;
  z-index: 1;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: relative;
  z-index: 1;
  margin-top: 50px;
}

.about-content p {
  width: 50%;
  font-size: 30px;
  font-weight: 400;
  text-align: left;
  line-height: 1.6;
}

.about-content img {
  width: 30%;
  object-fit: cover;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.568);
}

@media (max-width: 700px) {
  .about h1 {
    font-size: 35px;
  }
  .about-content {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .about-content img {
    width: 70%;
    margin-top: 20px;
  }
  .about-content p {
    width: 90%;
    font-size: 20px;
    text-align: center;
  }
}

.contact {
  position: relative;
  font-family: "Outfit", sans-serif;
  width: 100%;
  margin: 0;
  padding-top: 170px;
  padding-bottom: 170px;
  background: url("images/sssss.jpg") center center / cover no-repeat;
  color: #030738;
}

.contact-inner {
  width: 80%;
  margin: 0 auto;
}

.contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, rgba(255, 255, 255, 0.842), rgba(186, 214, 255, 0.8));
  z-index: 0;
}

.contact h1 {
  text-align: center;
  font-size: 55px;
  margin-top: -40px;
  margin-bottom: 80px;
  position: relative;
  z-index: 1;
}

.contact-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: relative;
  z-index: 1;
  margin-top: 50px;
}

.contact-content p {
  width: 50%;
  font-size: 35px;
  font-weight: 400;
  text-align: left;
  line-height: 2;
}

.contact-content img {
  width: 25%;
  object-fit: cover;
  box-shadow: 0px 0px 30px 10px rgba(50, 89, 148, 0.493);
}

@media (max-width: 700px) {
  .contact h1 {
    font-size: 35px;
  }
  .contact-content {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .contact-content img {
    width: 70%;
    margin-top: 30px;
  }
  .contact-content p {
    width: 90%;
    font-size: 20px;
    text-align: center;
  }
}

.book {
  position: relative;
  font-family: "Outfit", sans-serif;
  width: 100%;
  margin: 0;
  padding-top: 170px;
  padding-bottom: 200px;
  background: url("images/timothy-flippo-qyQE1KfBwA4-unsplash.jpg") center center / cover no-repeat;
  color: #fff;
}

.book::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(5, 22, 54, 0.8), rgba(2, 7, 24, 0.8));
  z-index: 0;
}

.book-inner {
  width: 85%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.book-content {
  display: flex;
  align-items: flex-start;
  gap: 80px;
  justify-content: flex-start;
}

.book-col {
  flex: 0 0 700px;
}

.book-text {
  flex: 0 0 60%;
}

.book h1 {
  font-size: 55px;
  margin-top: -40px;
  margin-bottom: 80px;
  position: relative;
  z-index: 1;
}

.book-content p {
  font-size: 35px;
  line-height: 2;
  padding-right: 100px;
}

.book-col input,
.book-col textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.book-col input::placeholder,
.book-col textarea::placeholder {
  font-size: 18px;
  font-weight: 400;
  color: #646464;
}

.book .hero-btn {
  background-color: #00b7ff;
  color: #fff;
  border: none;
  padding: 15px 25px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.book .hero-btn:hover {
  background-color: #006bb3;
}

@media (max-width: 700px) {
  .book h1 {
    font-size: 35px;
    text-align: center;
  }
  .book-content {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .book-text {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .book-content p {
    font-size: 20px;
    text-align: center;
    padding-right: 0;
  }
  .book-col {
    flex: 0 0 auto;
    width: 90%;
    margin: 0;
  }
}
